* {
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;

    font: 500 100% Helvetica, system-ui, sans-serif;
}

.page-wrap {
    background-color: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 1px;
}

.page-wrap > * {
    padding: 1rem;
    text-align: center;
}

.page-header {
    background-color: #ffcdd2;
}

.page-main {
    background-color: #dcedc8;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.page-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: lightgreen;
    padding: .5rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr min-content;
    border-radius: 2vh;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    filter: brightness(125%);
}
.card > h4 {
    margin: .5rem;
}
.image-container {
    background-color: black;
}
.image-container > img {
    height: 100%;
}

.page-footer {
    background-color: #ffecb3;
}